.user-scans-table {
    --border: 1px solid black;
    --border-radius: 6px;

    border-collapse: separate;
    border-spacing: 0;
    width: 100%;

    /* necessary for box shadow */
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.user-scans-table tr:nth-child(odd) {
    background: #f3f3f3;
}

.user-scans-table tr:nth-child(even) {
    background: #dddddd;
}

.user-scans-table tr:hover {
    background: rgb(224, 228, 231);
}

/* applies to every cell: header and data */
.user-scans-table :is(th, td) {
    border-bottom: var(--border);
    border-right: var(--border);
    padding: 0.5rem;
    /* overflow: hidden; */
}

/* applies to the first cell in each row */
.user-scans-table :is(th:first-child, td:first-child) {
    border-left: var(--border);
}

/* applies to all header cells, which should only be in the first row*/
.user-scans-table th {
    background: rgb(221, 239, 216);
    border-top: var(--border);
}

/* top-left border-radius */
.user-scans-table tr:first-child th:first-child {
    border-top-left-radius: var(--border-radius);
}

/* top-right border-radius */
.user-scans-table tr:first-child th:last-child {
    border-top-right-radius: var(--border-radius);
}

/* bottom-left border-radius */
.user-scans-table tr:last-child td:first-child,
.user-scans-table:not(:has(td)) th:first-child {
    border-bottom-left-radius: var(--border-radius);
}

/* bottom-right border-radius */
.user-scans-table tr:last-child td:last-child,
.user-scans-table:not(:has(td)) th:last-child {
    border-bottom-right-radius: var(--border-radius);
}
