.user-scans-table {
    --border-color: gray;
    --border: 1px solid var(--border-color);
    --border-radius: 6px;

    border-collapse: separate;
    border-spacing: 0;
    width: 100%;

    /* necessary for box shadow */
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

/* applies to every header cell except for the last */
.user-scans-table th {
    position: relative;
}

/*
 Applies to every header cell except for the last.
 Adds a vertical border to the right of the cell
*/
.user-scans-table th:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 66%;
    border-right: 2px solid var(--border-color);
}

/* applies to every odd row */
.user-scans-table tr:nth-child(odd) {
    background: #f3f3f3;
}

/* applies to every even row */
.user-scans-table tr:nth-child(even) {
    background: #dadada;
}

/* applies to the hovered row */
.user-scans-table tr:hover {
    background: rgb(218, 226, 232);
}

/* applies to every cell: header and data */
.user-scans-table :is(th, td) {
    padding: 0.5rem;
}

/* applies to every cell except those in the last row */
.user-scans-table :is(th, tr:not(:last-child) td) {
    border-bottom: var(--border);
}

/* applies to all header cells, which should only be in the first row*/
.user-scans-table th {
    background: rgb(221, 239, 216);
}

/* MARK: begin corner radius */

/* top-left border-radius */
.user-scans-table tr:first-child th:first-child {
    border-top-left-radius: var(--border-radius);
}

/* top-right border-radius */
.user-scans-table tr:first-child th:last-child {
    border-top-right-radius: var(--border-radius);
}

/* bottom-left border-radius */
.user-scans-table tr:last-child td:first-child,
.user-scans-table:not(:has(td)) th:first-child {
    border-bottom-left-radius: var(--border-radius);
}

/* bottom-right border-radius */
.user-scans-table tr:last-child td:last-child,
.user-scans-table:not(:has(td)) th:last-child {
    border-bottom-right-radius: var(--border-radius);
}

/* MARK: end corner radius */
